.navbar-brand {
  padding-left: 7px;
  font-size: 1.5em;
}

body {
  background-color: lightgrey;
  font-family: sans-serif;
}

.nav-link {
  margin-left: 7px;
  font-size: 1.5em;
}

.menu {
  padding-top: 110px;
  font-size: 1.5em;
  font-weight: bold;
  margin: 10px;
}

.news {
  text-align: left;
  padding-top: 110px;
  font-size: 1em;
  font-weight: bold;
}

#safety {
  font-weight: bolder;
  color: red;
}

#quality {
  font-weight: bolder;
  color: green;
}

#upcoming {
  font-weight: bolder;
  color: blue;
}

#topic-image {
  margin: auto;
  text-align: center;
}

.img-fluid {
  margin: auto;
}

.page-heading {
  text-align: center;
  padding-bottom: 20px;
}

.levels {
  margin-top: 90px;
}

.trouble {
  padding-top: 110px;
  font-size: 1.5em;
  font-weight: bold;
  margin: 10px;
}

.pdf-container {
  padding-top: 100px;
}
